@layout('accounts/layout')

@section('content')
    @include('accounts.partials.company.edit')
    @include('accounts.partials.account.edit')
    @include('accounts.partials.division.divisions')
@endsection