 <footer class="footer text-center">
    <span class="gmz-link-text gmz-themecolor-alt-text-st">
        © 2017. All Rights Reserved by  <a href="{{ appurl() }}" class="link" target="_blank">Gumzo.io</a>
    </span>
</footer>